<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>55875857362-2spnr32pcs80iovc95pbmk5d5rs341pm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.55875857362-2spnr32pcs80iovc95pbmk5d5rs341pm</string>
	<key>API_KEY</key>
	<string>AIzaSyAzKiDsFskF0HCZkUzMKI49jCIbxfWieDE</string>
	<key>GCM_SENDER_ID</key>
	<string>55875857362</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail.KWCIntern</string>
	<key>PROJECT_ID</key>
	<string>no-school-notification</string>
	<key>STORAGE_BUCKET</key>
	<string>no-school-notification.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:55875857362:ios:505ffde2c558987061360b</string>
	<key>DATABASE_URL</key>
	<string>https://no-school-notification.firebaseio.com</string>
</dict>
</plist>